html {
  font-family:'Barlow', sans-serif;
  background: #2A3672;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

a {
  text-decoration: none;
  color: #669FF4;
}
a:active {
  text-decoration: none;
  color: #669FF4;
}

h2 {
  padding: 20px;
}

h1, span{
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 300;
}

p {
  font-size: 20px;
}

.end {
  background: #2A3672;
  color: #669FF4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.end-h1 {
  font-size: 56px;
  margin: 0;
}
.final-score {
  font-size: 35px;
  
}

.link-btn {
  color: #669FF4;
  background: linear-gradient(145deg, #2d3a7a, #263167);
  box-shadow:  5px 5px 8px #252f63, -5px -5px 8px #2f3d81;
  transition: all 0.2s ease-in-out;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  outline: none;
}
.link-btn:hover {
  box-shadow: -2px -2px 5px #242e61, 2px 2px 5px #303e83;
}
.link-btn:active {
  box-shadow: inset 2px 2px 5px #1c244c, 
  inset -2px -2px 5px #384898
}
.slide-in-top {animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}

.home-container {
  display: grid;
  height: 100vh;
  align-content: center;
}

.welcome {
  width: 350px;
  height: 450px;
  margin: 0px auto;
  background: #2A3672;
  box-shadow:  9px 9px 14px #252f63, 
              -9px -9px 14px #2f3d81;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #669ff5;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.welcome > h1 {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 10px;
}

.form-input{
  display: block;
  appearance: none;
  outline: 0;
  background-color: inherit; 
  border: 2px solid #669ff5;
  width: 250px;
  
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #669ff5;
  transition-duration: 0.25s;
  font-weight: 300;
}
		
.form-input:focus{
  background-color: inherit;
  width: 300px;
  color: #669ff5;
}

.form-input::placeholder {
  color: #669ff5;
}

.custom-dropdown__select{
  display: block;
  appearance: none;
  outline: 0;
  border: 2px solid #669ff5;
  background-color: inherit;
  width: 250px;
  
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  
  color: inherit;
  
  transition-duration: 0.25s;
  font-weight: 300;
}
  
.custom-dropdown__select:focus {
  background-color: inherit;
  width: 300px;
  color: #669ff5;
  
}

.custom-dropdown__select--white {
  background-color: inherit;
  color: #669ff5;
}

.quiz-container {
  display: grid;
  padding: 50px;
  grid-template-columns: 60% 30%;
  gap: 50px;
  justify-content: center;
}

.quiz {
  color: white;
  display: grid;
  align-content: space-between;
}

.question {
  display: grid;
}

.option {
  text-align: center;
  height: 50px;
  width: 75%;
  margin: 20px;
  border-radius: 30px;
  background: linear-gradient(145deg, #2d3a7a, #263167);
  box-shadow:  5px 5px 3px #253065, -5px -5px 3px #2f3c7f;
  display: grid;
  align-items: center;
  cursor: pointer;
}

.option:hover {
  box-shadow: -2px -2px 5px #242e61, 2px 2px 5px #303e83;
}

.option:active {
  box-shadow: inset 2px 2px 5px #1c244c, inset -2px -2px 5px #384898
}

.incorrect, .incorrect:hover, .incorrect:active {
  box-shadow: inset 2px 2px 5px #c10b26, inset -2px -2px 5px #ff0f34;
  /* -webkit-animation: blink-1 0.6s both;
	        animation: blink-1 0.6s both; */
}

.correct, .correct:hover, .correct:active {
  box-shadow: inset 2px 2px 5px #18876b, inset -2px -2px 5px #1ea985;
  -webkit-animation: blink-1 0.6s both;
	        animation: blink-1 0.6s both;
}

.current-question {
  margin: 20px 0;
}

/* 
.option > p:after {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.658);
  position: absolute;
  right: 13px;
  top: 2px;
} */


.bottom {
  padding: 0 10px;
  border: none;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.avatar {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(145deg, #2d3a7a, #263167);
  box-shadow:  5px 5px 10px #253064, 
              -5px -5px 10px #2f3c80;
}

.avatar h2 {
  padding: 0;
  margin: 0;
  font-size: 80px;
  text-align: center;
}

.bio h2 {
  padding-top: 0;
  text-align: center;
}

.user-profile {
  display: grid;
  width: 350px;
  height: 450px;
  padding: 20px;
  margin: 0px auto;
  background: #2A3672;
  box-shadow:  9px 9px 14px #252f63, 
              -9px -9px 14px #2f3d81;
  border-radius: 50px;
  color: #669ff5;
}

.username-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  color: #669FF4;
  background: linear-gradient(145deg, #2d3a7a, #263167);
  box-shadow:  5px 5px 8px #252f63, -5px -5px 8px #2f3d81;
  transition: all 0.2s ease-in-out;
  border: none;
  margin: 10px;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  outline: none;
}

@media screen and (max-width: 1024px) {
  .quiz-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
  }
  .choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .option {
    margin: 0 0 15px 0;
    width: 100%;
  }
  .bottom {
    width: 100%;
  }
  .avatar {
    width: 100px;
    height: 100px;
    /* position: absolute;
    top: 10px;
    left: 10px; */
    border: none;
    background: none;
    box-shadow: none;
  }
  .quiz {
    order: 2;
  }
  .user-profile {
    display: flex;
    height: auto;
    justify-content: space-between;
    width: auto;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    margin: 0;
  }
  .user-category {
    display: none;
  }
  .username-img {
    text-align: center;
  }
  .username-img h2 {
    padding: 0;
    margin: 5px 0 20px 0;
  }
  .bio {
    margin-right: 20px;
  }
  small {
    font-size: 20px;
  }
  .bottom {
    position: absolute;
    bottom: 10px;
    right: 0px;
  }
  .current-question, .option p {
    font-size: 17px;
  }
  .option {
    height: auto;
    padding: 10px;
  }
  .overlay {
    background: none;
  }
  /* .user-profile {
    display: none;
  } */
}

.quit:hover .fa{
  color: #f00;
  text-shadow: 0 0 15px #f00;
}
.btn:hover {
  box-shadow: -2px -2px 5px #242e61, 2px 2px 5px #303e83;
}
.btn:active {
  box-shadow: inset 2px 2px 5px #1c244c, 
  inset -2px -2px 5px #384898
}

/*
Spinner
*/

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(7, 6, 6, 0.356);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.fulfilling-bouncing-circle-spinner, .fulfilling-bouncing-circle-spinner * {
  box-sizing: border-box;
}

.fulfilling-bouncing-circle-spinner {
  height: 60px;
  width: 60px;
  position: relative;
  animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
  z-index: 99;
}

.fulfilling-bouncing-circle-spinner .orbit {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: calc(60px * 0.03) solid #669FF4;
  animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
}

.fulfilling-bouncing-circle-spinner .circle {
  height: 60px;
  width: 60px;
  color: #669FF4;
  display: block;
  border-radius: 50%;
  position: relative;
  border: calc(60px * 0.1) solid #669FF4;
  animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
  transform: rotate(0deg) scale(1);
}

@keyframes fulfilling-bouncing-circle-spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  62.5% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  87.5% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fulfilling-bouncing-circle-spinner-circle-animation {
  0% {
    transform: scale(1);
    border-color: transparent;
    border-top-color: inherit;
  }
  16.7% {
    border-color: transparent;
    border-top-color: initial;
    border-right-color: initial;
  }
  33.4% {
    border-color: transparent;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
  }
  50% {
    border-color: inherit;
    transform: scale(1);
  }
  62.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  75% {
    border-color: inherit;
    transform: scale(1);
    opacity: 1;
  }
  87.5% {
    border-color: inherit;
    transform: scale(1.4);
  }
  100% {
    border-color: transparent;
    border-top-color: inherit;
    transform: scale(1);
  }
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
